<ion-header>
  <ion-toolbar color="tertiary">
    <ion-button slot="end" fill="clear" (click)="presentActionSheet()">
      <ion-icon style="color:#fff" name="menu"></ion-icon>
    </ion-button>
    <ion-title text-center>Salones</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item *ngFor="let chat of chatRooms" (click)="openChat(chat)">
      <ion-avatar slot="start">
        <ion-img [src]="chat.img"></ion-img>
      </ion-avatar>
      <ion-label>
        <h2><strong>{{chat.nombre}}</strong></h2>
        <p><em>{{chat.descripcion}}</em></p>
      </ion-label>
    </ion-item>
  </ion-list>


</ion-content>